<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Datos de encarnita y su baptisterio</title>
    <link rel="stylesheet" href="/css/estilos.css" />

</head>

<body>
    <nav>
        <a href="https://www.youtube.com/watch?v=K_YuXBGcvUU&t=190s">Encarnita y sus hermanXs te enseñan el baptisterio (subtítulos en andaluz)</a>
        <a href="/about">Aprende sobre encarnita y el baptisterio</a>
        <a href="/photogallery">Descubre el baptisterio</a>
    </nav>
    <h1>Datos de encarnita y su baptisterio</h1>
    <p>A quién no le va a gustar un baptisterio romano del siglo primero?</p>
    <h2>Sobre el Baptisterio</h2>
    <ul>
        <li> Es un baptisterio paleocristiano</li>
        <li>Le gusta a todo el mundo</li>
        <li>Es del siglo primero</li>
        <li>Lo descubrió el abuelo de Encarnita</li>
    </ul>
    <h2>Sobre el Encarnita</h2>
    <ul>
        <li> Lleva tooooa la vida cuidando el baptisterio</li>
        <li>Es una entusiasta</li>
        <li>Cuando se pone nerviosa, necesita un momento</li>
        <li>De mayor, quiero ser como Encarnita</li>
    </ul>
    <section class="pictures">
        <img src="../images/encarnita.jpg" />
    </section>
    <script src="js/javascript.js"></script>
</body>

</html>