<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>Vamono pal Baptisterio</title>
</head>
<body>
    <nav>
        <a href="/works">Qué hace encarnita en el día a día?</a>
        <a href="/about">Aprende sobre encarnita y el baptisterio</a>
        <a href="/photogallery">Descubre el baptisterio</a>

    </nav>
    <h1>Encarnita, la guardiana del baptisterio</h1>
    <h2>"A quién no le va a gustar un baptisterio romano del siglo primero?"</h2>
    <section class="header">
        <img src="../images/logo.png" >
        <article>
            Encarnita es una mujer apasionada y comprometida que vive en un pequeño pueblo de Andalucía con sus dos hermanos. 
            Desde pequeña ha sido una mujer muy trabajadora y siempre ha ayudado a su familia en lo que necesitaban.
        <article>
    </section>
   <hr>
    <video src="/images/erBaptisterio.mp4" autoplay="true" muted="true" loop="true" class="sect"></video>
    <p>Hace 150 años, el destino del pueblo de Encarnita cambió pa'siempre cuando su abuelo encontró un Baptisterio Romano del siglo primero en las afueras de su pueblo. 
    Desde entonces, Encarnita se ha dedicado a cuidar de las ruinas y a preservar su historia y su significado.
    Encarnita y sus hermanos han trabajado arduamente para restaurar el baptisterio y mantenerlo en buenas condiciones. Además, han abierto una filial para el turismo, lo que les ha permitido compartir la riqueza cultural del lugar con personas de todo el mundo.
        </p>
        <p>   
    Encarnita está muy orgullosa de su trabajo y de la historia que ha sido transmitida de generación en generación en su familia. Se siente afortunada de poder vivir en un lugar con tanta riqueza cultural y está decidida a preservarla para las futuras generaciones.
    Su amor y dedicación hacia el Baptisterio Romano y su historia es un ejemplo para todos, y su pasión por su trabajo es contagiosa. Encarnita es una mujer fuerte, valiente y llena de amor por su tierra, y su legado en la preservación de la historia y la cultura de su pueblo será recordado por siempre.
    </p>
    
    <script src="js/javascript.js"></script>
</body>

</html>