<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mira mi vídeo del baptisterio</title>
    <link rel="stylesheet" href="/css/estilos.css" />
</head>

<body>
    <nav>
        <a href="https://www.youtube.com/watch?v=K_YuXBGcvUU&t=190s">Encarnita y sus hermanXs te enseñan el baptisterio (subtítulos en andaluz)</a>
        <a href="/about">Aprende sobre encarnita y el baptisterio</a>
        <a href="/photoGallery.html">Descubre el baptisterio</a>
    </nav>

    <h1>¿En qué consiste el trabajo de Encarnita?</h1>
    <p>Un día normal en la vida de Encarnita comienza temprano en la mañana, cuando se levanta con el sol. Ella toma un desayuno ligero y se dirige al baptisterio para comenzar su día de trabajo.

        Encarnita comienza su día revisando el estado de las ruinas y haciendo reparaciones si es necesario. Luego, ella y sus hermanos se encargan de la limpieza del lugar y de prepararlo para los visitantes.
        
        Durante la tarde, Encarnita se encarga de la administración de la filial turística y de la planificación de eventos y actividades para promocionar el baptisterio. Ella también se comunica con los turistas y les da una tour guiada por las ruinas, compartiendo su conocimiento y apasionamiento por la historia del lugar.
        
        Después de un día de trabajo agotador, Encarnita regresa a su casa para cenar con sus hermanos y descansar. Ella se toma un tiempo para leer sobre historia y cultura antigua, ya que quiere mantenerse actualizada y mejorar su conocimiento sobre el baptisterio.
        
        A pesar de ser un día normal y agotador, Encarnita se siente feliz y agradecida por su trabajo y por tener la oportunidad de preservar la historia y la cultura de su pueblo. Para ella, cada día es una aventura y una oportunidad para aprender algo nuevo.
        
        
        
        
        </p>

    <h2>Labores de encarnita</h2>
    <ul>
        <li>Limpieza</li>
        <li>Márketing y Relaciones Públicas</li>
        <li>Iluminación</li>
        <li>Documentación</li>
        <li>Ensayos filosóficos</li>
    </ul>
    <section class="pictures">
        <img src="../images/encarnita2.jpg"/>
        <img src="../images/encarnitarezando.jpg" />
    </section>
    
    <script src="js/javascript.js"></script>
</body>

</html>